* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: "ridibatang";
	src: url("../sources/RIDIBatang.otf");
}
body{
  margin-top: 0;
  background:#0C3C60 url('../sources/backgroundnew.png') no-repeat;
  background-size: cover;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
  
.navbar{
	font-family: 'ridibatang', sans-serif;
	font-style: normal;
	font-weight: normal;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: transparent;
	color: #000;
	margin-left: auto;
}

.nav-links a {
	color: #000;
	padding:15px;
	font-size: 20px;
	color: #fff; 
}

.profile {
	margin-left: 30px;
	margin-top: 30px;
  	width: 50px;
	height: 50px;
}

nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
	background-color: rgba(0, 0, 0, 0.88);
}
nav ul li ul {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    min-width: 250px;
    position: absolute;
    margin-top: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: translateY(40px);
}

.menu {
	display: flex;
	gap: 1em;
	font-size: 15px;
}

.menu li:hover {
	background-color: #0C3C60;
}
.kmlaonlinetitle {
	margin-top: 175px;
	margin-left: auto;
	width: auto;
	height: auto;
	text-align: center;
	top: 368px;
	font-family: Abhaya Libre ExtraBold;
	font-style: normal;
	font-weight: 800;
	font-size: 96px;
	line-height: 77px;
	color: #FFFFFF;
}